<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/namshop/upload" class="form-group" method="post" enctype="multipart/form-data">
        <label for="label">샵이름</label>
        <input type="text" name="shop_name" class="form-control"><br>
        <label for="label">주소</label>
        <input type="text" name="address" class="form-control"><br>
        <label for="label">위도</label>
        <input type="text" name="latitude" class="form-control"><br>
        <label for="label">경도</label>
        <input type="text" name="longitude" class="form-control"><br>
        <label for="label">역</label>
        <input type="text" name="station" class="form-control"><br>
  		<label for="label">영업시간</label>
  		<input type="text" name="business_hour" class="form-control"><br>
        <label for="label">전화번호</label>
        <input type="text" name="tel" class="form-control"><br>
        <label for="label">컷가격</label>
        <input type="text" name="price_cut" class="form-control"><br>
        <label for="label">염색가격</label>
        <input type="text" name="price_color" class="form-control"><br>
        <label for="label">펌가격</label>
        <input type="text" name="price_perm" class="form-control"><br>
        <label for="label">전경사진</label>
        <input type="file" name="userfile" class="form-control"><br>
        <input type="submit" class="btn btn-primary" value="작성">
        <input type="reset" class="btn btn-primary" value="취소">
    </form>
  </body>
</html>